// Screen sizes
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$white: #fff;
$black: #000;
$light-gray: #505050;
$gray: #323232;
$dark-gray: #1a1a1a;
$purple: #8700ef;
$dark-purple: #7600d1;
